


.headerContainer {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.darkMobileImg {
    background-image: url('../../images/bg-mobile-dark.jpg');
}

.lightMobileImg {
    background-image: url('../../images/bg-mobile-light.jpg');
}




/* Desktop screen */
@media screen and (min-width: 767px) {
    .darkMobileImg {
        background-image: url('../../images/bg-desktop-dark.jpg');
    }

    .lightMobileImg {
        background-image: url('../../images/bg-desktop-light.jpg');
    }
}